.projectDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}

.description {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .projectDetail {
    flex-direction: column;
  }
  .description {
    width: 100%;
  }
}
