.listItem {
  text-align: center;
  padding: 30px;
}

.listItem a {
  color: #dcdad7;
  text-decoration: underline;
  cursor: auto;
  font-weight: bold;
}

.listItem a:hover {
  font-weight: bold;
  color: #5eec0c;
}
