h5 .homeLink {
  text-decoration: none;
  transition: letter-spacing 600ms;
  word-break: break-all;
  cursor: auto;
  color: #dcdad7 !important;
}

h5 .homeLink:hover {
  letter-spacing: 0.5em;
  font-size: 20px;
  font-weight: bold;
  color: #5eec0c !important;
}
