@tailwind base;
@tailwind components;
@tailwind utilities;

nav a {
  text-decoration: none;
  transition: letter-spacing 600ms, color 600ms, font-size 600ms;
  word-break: break-all;
  cursor: auto;
  font-weight: bold;
}

nav a:hover {
  letter-spacing: 0.5em;
  font-size: 20px;
  color: #5eec0c;
}
